<div class="container">
    <div class="containerpic">
        <div class="imgpic">
           <img width="65px" height="65px"
            src="../../../../assets/2BFA13BF-192F-4E3F-AA90-12915607255A.png" alt="">
        </div>
        <div class="sign">
            <p>
                李哥
            </p>

            <span>个性签名:都不不知道些什么了
                
            </span>
        </div>

    </div>

    <div class="containerlabel">
        <p>关注</p>
        <b>0</b>
        <b>|</b>
        <p>粉丝</p>
        <b>0</b>
        <b>|</b>
        <p>动态更新</p>
        <b>0</b>
    </div>

</div>

<div class="containerback">

</div>

<div class="containerlist">
    <div class="collected">
        <p>收藏</p>

    </div>
    <div class="through">
       <p>浏览记录</p>
    </div>
    <div class="hobit">
        
        <p>喜欢</p>
    </div>
    <div class="createwirte">
        <p>创新学院</p>
        
    </div>
</div>

<div class="titlelist">
    <div class="myself">
        <div class="myselfbiaoti">
            
            <d-avatar dCardAvatar [name]="'DevUI'"></d-avatar>
            <a href="#"> 这里就是自己写的文章的标题了</a>
        </div>

        <p>
            2021年2月20日,习近平在党史学习教育动员大会上强调 我国正处于
            并将长期处于社会主义初级阶段,
            我们不能做超越阶段的事情,但也不是说在逐步实现共同富裕方面就无
        </p>
        
    </div>
    <div class="myself">
        <div class="myselfbiaoti">
            
            <d-avatar dCardAvatar [name]="'DevUI'"></d-avatar>
            <a href="#"> 这里就是自己写的文章的标题了</a>
        </div>

        <p>
            2021年2月20日,习近平在党史学习教育动员大会上强调 我国正处于
            并将长期处于社会主义初级阶段,
            我们不能做超越阶段的事情,但也不是说在逐步实现共同富裕方面就无
        </p>
        
    </div>
    

</div>